{{ define "title" }}
  Pkgs on Nix: Curated information about every package on Nix!
{{ end }}

{{ define "nav-title"}}
  Pkgs on Nix
{{ end }}

{{ define "nav-subtitle"}}
  Curated information about every package on Nix!
{{ end }}

{{ define "main" }}
  {{ range $set, $_ := $.Site.Data }}
    {{ range $attr, $_ := index $.Site.Data $set }}
      {{ $data := index $.Site.Data $set $attr }}
      <p class="ma1">
        <dfn class="b fs-normal">
          <a class="b blue" href="/nixpkgs/{{ lower $attr }}">
            nixpkgs / {{ $attr }}
          </a>
        </dfn>
        {{ if $data.meta.desc }}
          - {{ $data.meta.desc }}
        {{ end }}
      </p>
    {{ end }}
  {{ end }}
{{ end }}
