{{ define "title" }}
  Pkgs on Nix: Curated information about every package on Nix!
{{ end }}

{{ define "nav-title"}}
  Pkgs on Nix
{{ end }}

{{ define "nav-subtitle"}}
  Curated information about every package on Nix!
{{ end }}

{{ define "main" }}
  {{ $countPkgs := 0 }}
  {{ $countVersions := 0 }}
  {{ $countOutputFiles := 0 }}
  {{ range $set, $_ := $.Site.Data }}
    {{ range $attr, $attrData := index $.Site.Data $set }}
      {{ $countPkgs = add $countPkgs 1 }}
      {{ $countVersions = add $countVersions (len $attrData.versions) }}
      {{ range $output, $output_files := $attrData.outputs }}
        {{ $countOutputFiles = add $countOutputFiles (len $output_files)}}
      {{ end }}
    {{ end }}
  {{ end }}

  <div class="pa2">
    <fieldset class="ba bw1 b--cyan ma0 ph2">
      <legend class="db pa2">
        🔎 Search from {{ $countPkgs }} packages
        , {{ $countVersions }} versions
        and {{ $countOutputFiles }} files
      </legend>
      <input
        autofocus
        class="bn ma0 pa2 outline-transparent w-100"
        id="search-input"
        placeholder="Type something to get started"
        type="text"
      >
    </fieldset>
    <fieldset class="ba bw1 b--cyan pv2">
      <legend>Search in</legend>
      <div>
        <input type="checkbox" id="search-results-in-pkg-names" checked>
        Package names<br/>
        <input type="checkbox" id="search-results-in-pkg-descs" checked>
        Package descriptions<br/>
        <input type="checkbox" id="search-results-in-pkg-files">
        Package files<br/>
      </div>
    </fieldset>
    <fieldset class="ba bw1 b--cyan pv2">
      <legend>Max results</legend>
      <select id="search-max-results">
        <option value="10" default>10</option>
        <option value="100">100</option>
        <option value="999999999">no limit</option>
      </select>
    </fieldset>
  </div>
  <div class="pa2" id="search-instructions">
    Some search examples:

    <ul>
      <li><span class="blue">firefox</span>: Search packages similar to firefox</li>
      <li><span class="blue">=docker</span>: Search for an exact match</li>
      <li><span class="blue">!windows</span>: Exclude windows from the results</li>
      <li><span class="blue">^python</span>: Search packages starting with Python</li>
      <li><span class="blue">rust$</span>: Search packages ending with Rust</li>
    </ul>

    If searching in <b>package files</b> is enabled:

    <ul>
      <li><span class="blue">=/lib/libstdc++.so</span>: Search packages that contain /lib/libstdc++.so</li>
      <li><span class="blue">^/lib/ld-linux-x86-64</span>: Search packages that contain outputs starting with /lib/ld-linux-x86-64</li>
      <li><span class="blue">/bin/nix-build</span>: Search packages that contain something close to /bin/nix-build</li>
    </ul>

    Search is case insensitive.
  </div>
  <div class="pa2" id="search-results"></div>

  <div style="display: none">
    {{ range $set, $_ := $.Site.Data }}
      {{ range $attr, $_ := index $.Site.Data $set }}
        <p class="ma0 pa0" id="{{ $set }}-{{ $attr }}">
          <dfn class="b fs-normal">
            <a class="b blue" href="/nixpkgs/{{ lower $attr }}/">
              nixpkgs / {{ $attr }}
            </a>
          </dfn>
          {{ $data := index $.Site.Data $set $attr }}
          {{ if $data.meta.desc }}
            - {{ $data.meta.desc }}
          {{ end }}
        </p>
      {{ end }}
    {{ end }}
  </div>

  <script src="https://unpkg.com/fuse.js@6.4.6/dist/fuse.min.js"></script>
  <script>
    const searchEngineIndex = [
      {{ range $set, $_ := $.Site.Data }}
        {{ range $attr, $attrData := index $.Site.Data $set }}
          {{ $data := index $.Site.Data $set $attr }}
          {
            "set": "{{ $set }}",
            "attr": "{{ $attr }}",
            "desc": "{{ $data.meta.desc }}",
            "outputs": [
              {{ range $_, $outputFiles := $attrData.outputs }}
                {{ range $outputFile := $outputFiles }}
                  "{{ $outputFile }}",
                {{ end }}
              {{ end }}
            ],
          },
        {{ end }}
      {{ end }}
    ];

    const searchInput = document.querySelector("#search-input");
    const searchMaxResults = document.querySelector("#search-max-results");
    const searchInPkgNames = document.querySelector("#search-results-in-pkg-names");
    const searchInPkgDescriptions = document.querySelector("#search-results-in-pkg-descs");
    const searchInPkgFiles = document.querySelector("#search-results-in-pkg-files");

    searchInput.addEventListener('input', search);
    searchMaxResults.addEventListener('change', search);
    searchInPkgNames.addEventListener('change', search);
    searchInPkgDescriptions.addEventListener('change', search);
    searchInPkgFiles.addEventListener('change', search);

    function search() {
      const keys = [];
      if (searchInPkgNames.checked) keys.push({ name: 'attr', weight: 1});
      if (searchInPkgDescriptions.checked) keys.push({ name: 'desc', weight: 1});
      if (searchInPkgFiles.checked) keys.push({ name: 'outputs', weight: 1});

      const results = new Fuse(searchEngineIndex, {
        keys,
        ignoreLocation: true,
        minMatchCharLength: 0,
        useExtendedSearch: true,
      }).search(searchInput.value.toLowerCase()).slice(0, searchMaxResults.value);

      const searchInstructions = document.querySelector('#search-instructions');
      const searchResults = document.querySelector('#search-results');

      if (results.length == 0) {
        searchInstructions.style.display = ""
        searchResults.style.display = "none"
      } else {
        searchResults.innerHTML = '';
        searchInstructions.style.display = "none"
        searchResults.style.display = ""
        results.map((result) => {
          const element = document.querySelector(`p[id='${result.item.set}-${result.item.attr}']`);
          searchResults.appendChild(element.cloneNode(true));
        });
      };
    };

    search();
  </script>
{{ end }}
