{{ define "title" }}
  Package {{ .Params.attr }} on Nix
{{ end }}

{{ define "nav-title"}}
  Pkgs on Nix
{{ end }}

{{ define "nav-subtitle"}}
  Curated information about every package on Nix!
{{ end }}

{{ define "main" }}
  {{ $set := .Params.set }}
  {{ $attr := .Params.attr }}
  {{ $data := index $.Site.Data $set $attr }}
  <p>
    <dfn class="b fs-normal">
      {{ $set }} / {{ $attr }}
    </dfn>
    -
    {{ if $data.meta.desc_long }}
      {{ $data.meta.desc_long }}
    {{ else }}
      {{ $data.meta.desc }}
    {{ end }}
  </p>

  {{ if $data.meta.home }}
    <p>
      <dfn class="b fs-normal">Homepage</dfn>
      -
      <a class="blue" href="{{ $data.meta.home }}" rel="noopener" target="_blank">
        {{ $data.meta.home }}
      </a>
    </p>
  {{ end }}

  {{ if reflect.IsMap $data.meta.license }}
    {{ if $data.meta.license.spdxId }}
      <p>
        <dfn class="b fs-normal">License</dfn>
        - {{ $data.meta.license.spdxId }}
      </p>
    {{ end }}
  {{ end }}

  {{ if reflect.IsSlice $data.meta.maintainers }}
    <p>
      <dfn class="b fs-normal">Maintainers</dfn>
      {{ range $maintainer := $data.meta.maintainers }}
        {{ if reflect.IsMap $maintainer }}
          {{ if $maintainer.email }}
            {{ if $maintainer.name }}
              - <a class="blue" href="mailto:{{ $maintainer.email }}">
                {{ $maintainer.name }}
              </a>
            {{ else if $maintainer.github }}
              - <a class="blue" href="mailto:{{ $maintainer.github }}">
                {{ $maintainer.name }}
              </a>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </p>
  {{ end }}

  {{ if $data.outputs }}
    {{ range $output, $files := $data.outputs }}
    <p>
      <dfn class="b fs-normal">Outputs / {{ $output }}</dfn>
      <ul>
        {{ range $file := $files }}
          <li>{{ $file }}</li>
        {{ end }}
      </ul>
    </p>
    {{ end }}
  {{ end }}

  <table>
    <thead>
      <tr>
        <th class="bb fw4">Commit range</th>
        <th class="bb fw4">Version</th>
      </tr>
    </thead>
    <tbody>
      {{ range $version := $data.versions }}
        <tr>
          <td class="ph3">
            <a class="blue" href="https://github.com/NixOS/nixpkgs/commit/{{ $version.first }}">
              {{ substr $version.first 0 8 }}
            </a>
            ->
            <a class="blue" href="https://github.com/NixOS/nixpkgs/commit/{{ $version.last }}">
              {{ substr $version.last 0 8 }}
            </a>
          </td>
          <td class="ph3">{{ $version.name }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
