{{ define "title" }}
  Package {{ .Params.attr }} on Nix
{{ end }}

{{ define "nav-title"}}
  Pkgs on Nix
{{ end }}

{{ define "nav-subtitle"}}
  Curated information about every package on Nix!
{{ end }}

{{ define "main" }}
  {{ $set := .Params.set }}
  {{ $attr := .Params.attr }}
  {{ $data := index $.Site.Data $set $attr }}
  <p class="mv0 pv2">
    <dfn class="b fs-normal">
      {{ $set }} / {{ $attr }}
    </dfn>
    -
    {{ if $data.meta.desc_long }}
      {{ $data.meta.desc_long }}
    {{ else }}
      {{ $data.meta.desc }}
    {{ end }}
  </p>

  {{ if $data.meta.home }}
    <p class="mv0 pv2">
      <dfn class="b fs-normal">Homepage</dfn>
      -
      <a class="sec-d" href="{{ $data.meta.home }}" rel="noopener" target="_blank">
        {{ $data.meta.home }}
      </a>
    </p>
  {{ end }}

  {{ if reflect.IsMap $data.meta.license }}
    {{ if $data.meta.license.spdxId }}
      <p class="mv0 pv2">
        <dfn class="b fs-normal">License</dfn>
        - {{ $data.meta.license.spdxId }}
      </p>
    {{ end }}
  {{ end }}

  {{ if reflect.IsSlice $data.meta.maintainers }}
    <p class="mv0 pv2">
      <dfn class="b fs-normal">Maintainers</dfn>
      {{ range $maintainer := $data.meta.maintainers }}
        {{ if reflect.IsMap $maintainer }}
          {{ if $maintainer.email }}
            {{ if $maintainer.name }}
              - <a class="sec-d" href="mailto:{{ $maintainer.email }}">
                {{ $maintainer.name }}
              </a>
            {{ else if $maintainer.github }}
              - <a class="sec-d" href="mailto:{{ $maintainer.github }}">
                {{ $maintainer.name }}
              </a>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </p>
  {{ end }}

  {{ if $data.outputs }}
    <p class="mv0 pv2">
      <dfn class="b fs-normal">Outputs</dfn>
      {{ range $output, $files := $data.outputs }}
        <details class="pl4">
          <summary>
            <span class="b">{{ $output }}</span>
            <span class="fs-normal sec-d"> (expand/collapse)</span>
          </summary>
          <ul class="ma0 pl4">
            {{ range $file := $files }}
              <li style="list-style: none;">{{ $file }}</li>
            {{ end }}
          </ul>
        </details>
      {{ end }}
    </p>
  {{ end }}

  <p class="mv0 pv2">
    <dfn class="b fs-normal">Releases</dfn>
    {{ range $version := $data.versions }}
      <details class="pl4">
        <summary>
          <span class="b">{{ $version.name }}</span>
          <span class="fs-normal sec-d"> (expand/collapse)</span>
        </summary>
        <div class="ma0 pl4">
          <ul class="ma0 pl4">
            Commits:
            {{ range $commits := $version.commits }}
              <li>
                [
                <a class="sec-d" href="https://github.com/NixOS/nixpkgs/commit/{{ $commits.first }}">
                  {{ substr $commits.first 0 8 }}
                </a>
                ,
                <a class="sec-d" href="https://github.com/NixOS/nixpkgs/commit/{{ $commits.last }}">
                  {{ substr $commits.last 0 8 }}
                </a>
                ]
              </li>
            {{ end }}
          </ul>
        </div>
      </details>
    {{ end }}
  </p>

{{ end }}
